.contact-section {
	padding: 4rem 2rem;
	background-color: var(--card-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-container {
	max-width: 600px;
	width: 100%;
	background: var(--input-bg);
	padding: 2.5rem;
	border-radius: 12px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.contact-container h2 {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 1.8rem;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
	padding: 0.9rem 1.1rem;
	border: 1.5px solid #ddd;
	border-radius: 8px;
	font-size: 1rem;
	font-family: inherit;
	transition: border 0.3s ease;
	background-color: var(--input-bg);
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
	border-color: var(--accent-color);
	outline: none;
}

.contact-form button {
	padding: 1rem;
	background: var(--accent-color);
	color: var(--text-color);
	font-size: 1rem;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.contact-form button:hover {
	background: var(--contrast-color);
}

.checkbox {
	font-size: 0.9rem;
}

.checkbox input {
	margin-right: 0.5rem;
}

.form-error {
	color: #ff3b30;
	background: #ffeaea;
	border: 1px solid #ffb4b4;
	padding: 0.8rem;
	border-radius: 8px;
	margin-bottom: 1rem;
	text-align: center;
}

.thank-you {
	text-align: center;
	font-size: 1.1rem;
	color: #333;
	background: #f3f3f3b6;
	padding: 2rem;
	border-radius: 10px;
}

/* RESPONSIVE */
@media (min-width: 481px) {
	.contact-section {
		padding: 4rem;
	}
}

@media (min-width: 1024px) {
	.contact-section {
		padding: 4rem 8rem;
	}

	.contact-container h2 {
		font-size: 2rem;
	}

	.contact-form input,
	.contact-form select,
	.contact-form textarea {
		font-size: 1.3rem;
	}

	.contact-form button {
		font-size: 1.2rem;
	}

	.checkbox {
		font-size: 1.2rem;
	}

	.thank-you {
		font-size: 1.5rem;
	}
}

@media (min-width: 1440px) {
	.contact-section {
		padding: 4rem 4rem;
	}

	.contact-container {
		max-width: 800px;
	}

	.contact-container h2 {
		font-size: 2.6rem;
	}

	.contact-form input,
	.contact-form select,
	.contact-form textarea {
		font-size: 1.8rem;
	}

	.contact-form button {
		font-size: 1.8rem;
	}

	.checkbox {
		font-size: 1.6rem;
	}

	.thank-you {
		font-size: 2rem;
		padding: 6rem;
	}
}
